body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'TT Travels Next', serif;
  font-weight: 600;
  width: 100%;
  background-color: #071EC3;
  background-image: url('../img/1920.svg');
  color: #f2f2f2;
  cursor: none;
}

/* Standart settings */

.cursor {
position: absolute;
height: 40px;
width: 40px;
border-radius: 50%;
border: 1px solid #f2f2f2;
transition: border 0.5s ease,
            transform 0.5s ease;
}

p {
  font-size: 1.563vw;
}

a {
  font-size: 1.250vw;
  color: #f2f2f2;
  text-decoration: none;
  cursor: none;
}

button {
  width: 20.833vw;
  height: 5.208vw;
  background-color: #071EC3;
  color: #f2f2f2;
  font-family: 'TT Travels Next', serif;
  font-weight: 400;
  font-size: 2.500vw;
  border-radius: 5.208vw;
  border: 0.104vw solid #f2f2f2;
  transition: all 0.2s ease;
  cursor: none;
}

button:active {
  transform: scale(0.95);
}

/* Header */

.header {
  position: relative;
  margin: -5vw 0vw 0vw 45.3vw;
  line-height: 0.6vw;
}

.proekt {
  position: relative;
}

.kurator {
  position: relative;
  margin: -3.82vw 0vw 0vw 19.9vw;
}

.modul {
  position: relative;
  margin: -3.7vw 0vw 0vw 40.9vw;
}

.headerh {
  font-size: 1.250vw;
}

.headerp {
  font-size: 1.250vw;
  font-weight: 400;
}

/* Logotype*/

#logo {
  width: 6.302vw;
  height: 5.208vw;
  position: relative;
  margin: 2.6vw 0vw 0vw 2.3vw;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* First slide */

.gochi {
  position: relative;
  font-weight: 900;
  font-size: 11.458vw;
}

#g {
  transform: rotate(-16deg);
  position: relative;
  width: 17.188vw;
  margin: 16.25vw 0vw 0vw 12vw;
}

#o {
  transform: rotate(8deg);
  position: relative;
  width: 23.646vw;
  margin: -32vw 0vw 0vw 27.2vw;
}

#ch {
  transform: rotate(-6deg);
  position: relative;
  width: 20.521vw;
  margin: -42.8vw 0vw 0vw 45.36vw;
}

#i {
  transform: rotate(12deg);
  position: relative;
  width: 22.240vw;
  margin: -20.7vw 0vw 0vw 65.4vw;
}
