@media only screen and (min-width: 1366px) and (max-device-width: 1440px) {
  #g { margin: 16.3vw 0vw 0vw 13.231vw;}
  .d3bv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .nameh2 { margin: -24.8vw 0vw 0vw 54.18vw;}
}

@media only screen and (min-width: 1024px) and (max-device-width: 1366px) {
  #g { margin: 16.3vw 0vw 0vw 13.231vw;}
  .d3bv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .nameh2 { margin: -24.8vw 0vw 0vw 54.18vw;}
}

@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  body { background-image: url('../img/1024.svg');}
  #g { margin: 16.3vw 0vw 0vw 13.231vw;}
  .d2h2 { margin: 3.8vw 0vw 0vw 31vw;}
  #podskazka {
    margin: 7.3vw 0vw 0vw 72.9vw;
    text-indent: -32px;}
  .d2bukva1 {
    width: 16.05vw;
    height: 16.05vw;
    margin: -3.66vw 0vw 0vw 3.74vw;}
  .d2bubble1 {
    width: 27.249vw;
    height: 14.602vw;
    margin: -14.4vw 0vw 0vw 25.6vw;}
  #d2bubble1text {
    width: 20.867vw;
    height: 7.324vw;
    padding: 2.637vw 2.865vw 0vw 3.4vw;}
  .d2p1 {
    width: 19.086vw;
    height: 8.393vw;
    margin: -9.54vw 0vw 0vw 49.4vw;}
  .rv1 {
    width: 22.995vw;
    height: 29.684vw;
    margin: 4.2vw 0vw 0vw 6.2vw;}
  .rv2 {
    width: 22.995vw;
    height: 29.684vw;
    margin: 4.2vw 0vw 0vw 6.2vw;}
  .rv3 {
    width: 22.995vw;
    height: 29.684vw;
    margin: 4.2vw 0vw 0vw 6.2vw;}
  .d2bukva2 {
    width: 15.896vw;
    height: 15.832vw;
    margin: -29.8vw 0vw 0vw 31vw;}
  .d2p2 {
    width: 11.296vw;
    height: 11.243vw;
    margin: -29.2vw 0vw 0vw 67.2vw;}
  .d2bukva3 {
    width: 16.004vw;
    height: 16.05vw;
    margin: -0.8vw 0vw 0vw 58.5vw;}
  .d2p3 {
    width: 4.828vw;
    height: 4.828vw;
    margin: -4.8vw 0vw 0vw 50.7vw;}
  .d2bukva4 {
    width: 19.718vw;
    height: 15.924vw;
    transform: rotate(15deg);
    margin: -18.5vw 0vw 0vw 78vw;}
  .d2bukva5 {
    width: 17.246vw;
    height: 17.188vw;
    margin: 22.8vw 0vw 0vw 3.3vw;}
  .d2bukva6 {
    width: 15.981vw;
    height: 16.039vw;
    margin: -26.9vw 0vw 0vw 24.8vw;}
  .d2p4 {
    width: 16.255vw;
    height: 15.982vw;
    margin: -17.8vw 0vw 0vw 38.9vw;}
  .d2bukva7 {
    width: 15.866vw;
    height: 15.866vw;
    margin: -23vw 0vw 0vw 53.1vw;}
  .d2bubble2 {
    width: 27.249vw;
    height: 20.28vw;
    margin: -15.5vw 0vw 0vw 71.2vw;}
  #d2bubble2text {
    width: 17.878vw;
    height: 12.207vw;
    padding: 2.637vw 4.688vw 0vw 4.688vw;}
  .d2bukva8 {
    width: 17.246vw;
    height: 17.188vw;
    margin: 1.6vw 0vw 0vw 77.4vw;}
  .d2bukva9 {
    width: 15.969vw;
    height: 15.941vw;
    margin: 3.7vw 0vw 0vw 2.2vw;}
  .d2p5 {
    width: 10.348vw;
    height: 10.348vw;
    margin: -25.4vw 0vw 0vw 17.9vw;}
  .d2bukva10 {
    width: 16.05vw;
    height: 16.056vw;
    margin: -16.1vw 0vw 0vw 32vw;}
  .dv1 {
    width: 24.72vw;
    height: 20.613vw;
    margin: -24.8vw 0vw 0vw 49.9vw;}
  .dv2 {
    width: 24.72vw;
    height: 20.613vw;
    margin: -24.8vw 0vw 0vw 49.9vw;}
  .dv3 {
    width: 24.72vw;
    height: 20.613vw;
    margin: -24.8vw 0vw 0vw 49.9vw;}
  .hv1 {
    width: 22.995vw;
    height: 22.995vw;
    margin: 20vw 0vw 0vw 5.4vw;}
  .hv2 {
    width: 22.995vw;
    height: 22.995vw;
    margin: 20vw 0vw 0vw 5.4vw;}
  .hv3 {
    width: 22.995vw;
    height: 22.995vw;
    margin: 20vw 0vw 0vw 5.4vw;}
  .d2bubble3 {
    width: 27.249vw;
    height: 14.089vw;
    margin: -33.6vw 0vw 0vw 26.6vw;}
  #d2bubble3text {
    width: 17.878vw;
    height: 4.883vw;
    padding: 2.539vw 4.688vw 0vw 4.688vw;}
  .d2p6 {
    width: 19.086vw;
    height: 8.393vw;
    margin: -14.8vw 0vw 0vw 50.8vw;}
  .d2bukva11 {
    width: 12.969vw;
    height: 15.82vw;
    margin: -17.4vw 0vw 0vw 68.6vw;}
  .d2p7 {
    width: 16.579vw;
    height: 16.579vw;
    position: relative;
    transform: rotate(40deg);
    margin: -10.3vw 0vw 0vw 82.5vw;}
  .d2bukva12 {
    width: 12.935vw;
    height: 15.809vw;
    margin: 22.7vw 0vw 0vw 3.26vw;}
  .d2p8 {
    width: 13.97vw;
    height: 6.984vw;
    margin: -10.6vw 0vw 0vw 20.2vw;}
  .d2bukva13 {
    width: 12.992vw;
    height: 15.924vw;
    margin: -17.8vw 0vw 0vw 28.9vw;}
  .d2bukva14 {
    width: 19.718vw;
    height: 15.924vw;
    transform: rotate(15deg);
    margin: -32.2vw 0vw 0vw 35.6vw;}


  .d3bv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3bv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3rv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3hv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv1 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv2 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .d3dv3 { margin: 3.6vw 0vw 0vw 16.2vw;}
  .nameh2 { margin: -24.8vw 0vw 0vw 54.18vw;}
}
